html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}


.parent {
    position: relative;
}

.loader {
    background: rgb(255, 255, 255);
    position: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

/* CSS for animations with key */
.key {
    background:
        url(img/CPF-BG.jpg) no-repeat center center;
    background-size: cover;

    position: static;
    width: 100vw;
    height: 100vh;
}


/* CSS for the title pages */
.cover {
    position: static;
    height: 100vh;
    width: 100vw;
}